openapi: 3.2.0
info:
  title: Donately Fundraisers API
  description: The Donately API is a REST/JSON API for online donation and fundraising management.
  version: '2019-03-15'
  contact:
    name: Donately
    url: https://developer.donately.com/
servers:
- url: https://api.donately.com/v2
  description: Donately API (version 2019-03-15)
security:
- basicAuth: []
tags:
- name: Fundraisers
  description: Peer-to-peer fundraising pages under a campaign.
paths:
  /fundraisers:
    get:
      operationId: listFundraisers
      tags:
      - Fundraisers
      summary: List fundraisers
      description: Returns peer-to-peer fundraisers for the specified account or campaign. MODELED - verify against the live reference.
      parameters:
      - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: A list of fundraisers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFundraiser
      tags:
      - Fundraisers
      summary: Create a fundraiser
      description: Creates a new peer-to-peer fundraiser under a campaign. MODELED - verify against the live reference.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundraiserCreate'
      responses:
        '200':
          description: The created fundraiser.
        '400':
          $ref: '#/components/responses/BadRequest'
  /fundraisers/{id}:
    get:
      operationId: getFundraiser
      tags:
      - Fundraisers
      summary: Retrieve a fundraiser
      description: Retrieves a single fundraiser by ID. MODELED - verify against the live reference.
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: A fundraiser object.
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateFundraiser
      tags:
      - Fundraisers
      summary: Update a fundraiser
      description: Updates an existing fundraiser. MODELED - verify against the live reference.
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundraiserCreate'
      responses:
        '200':
          description: The updated fundraiser.
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
    AccountIdParam:
      name: account_id
      in: query
      required: true
      description: The ID of the account to operate against.
      schema:
        type: string
  responses:
    BadRequest:
      description: The request was malformed or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    FundraiserCreate:
      type: object
      required:
      - account_id
      - campaign_id
      - title
      properties:
        account_id:
          type: string
        campaign_id:
          type: string
        title:
          type: string
        goal_in_cents:
          type: integer
    Error:
      type: object
      properties:
        object:
          type: string
          example: error
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
    ListResponse:
      type: object
      description: Standard Donately list envelope.
      properties:
        object:
          type: string
        data:
          type: array
          items:
            type: object
        summary:
          type: object
        params:
          type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Use your Donately API token as the username with an empty password (the token is base64-encoded with a trailing colon). Find the token in the Donately dashboard under Settings -> API.
